body{
	margin: 0;
	padding: 0;
	background-color: #000000;
}

a{
	text-decoration: none;
	color:#ffffff;
}

.blog-page{
	color:#ffffff;
	margin: 2% 20% 0 10%;
}

.blog-head{
	text-align: left;
	margin-left: 10%;
	font-size: 50px;
	color: #ffffff;
}

.blog-link{
	display: flex;
	flex-direction: row;
}

#blog-text:hover,
#left-column{
	color:#ffffff;
}

#left-column{
	display: flex;
	flex-direction: column;
	text-align: left;
	color:#727372;
	padding: 2% 5% 0 0;
}

#blog-text{
	text-align: left;
}

#blog-image{
	margin: 0 0 5% 5%;
}




